@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom glow effect */
/* Subtle neon blue */
.text-neon-blue {
  color: #00B3B3; 
  text-shadow: 0px 0px 4px rgba(0, 179, 179, 0.4);
}

/* Subtle neon purple */
.text-neon-purple {
  color: #915DAB; 
  text-shadow: 0px 0px 4px rgba(145, 93, 171, 0.4);
}
.form-container {
  margin-top: 20px;
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2c3e50;
  border: none;
  color: #fff;
  border-radius: 5px;
}

select, button {
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
